body{
	margin: 0 auto;
	top: 0px;
	left: 0px;
	background-color: #ecf0f5;
}

#wrap{
	position: absolute;

	width: 100%;
	height: auto;
}

#menu{
	width: 100%;
	left: 0px;
	top: 0px;
	margin: 0 auto;



}

#menu-vertical{
	position: absolute;
	width: 250px;
	height: 100%;
	background-color: #173C52;
	left: 0px;
	top: 0px;
}


#menu-vertical ul{
	list-style-type: none;
	text-decoration: none;
	padding-top: 20%;
	padding-left: 0px;
	overflow: hidden;
	display: block;
	color: white;
	font-family: 'Raleway', sans-serif;
	
}

#menu-vertical ul li{
	float: left;
	width: 100%;
	padding: 0px;
	padding: 1% 5% 1% 5%;
}

#menu-vertical ul li a{
	color: white;
	text-decoration: none;
	text-align: left;
	background-color: rgb(0, 0, 0, 0.4);
	display: inline-block;
	width: 100%;
	padding: 10px;

}


#menu-vertical a:hover{
	background-color: rgb(0, 0, 0, 0.6);
}

.mod{
	height: 20px;
	width: 100%;

}

.foto{
	text-align: center; 
	padding-right: 20px;
	padding-bottom: 20%;
}

#menu ul{
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3c8dbc;
	color: white;
	font-family: 'Raleway', sans-serif;
	box-shadow: 0 1px 1px #123144;
}


#menu li{
float: left;

}

#menu li a{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
display: none;

}

.logo{
background-color: #20516d;
display: block;
color: white;
text-align: center;
width: 250px;
padding: 14px 0px 14px 0px;

}


#menu li a:hover:not(.active){
	background-color: #4098cb;
}

#menu li a.active{
	background-color: #367fa9;
}

#menu li.right{
	float: right;
}


#geral{
	
	width:81%;
	height: auto;
	display: block;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	left: 250px;
	position: absolute;
	margin-top: 4%;
	}


.box{
display: inline-block;
padding: 30px;
}

.box-interno{
	width: 180px;
	height: 150px;
	text-decoration: none;
	background-color: rgb(32, 81, 109, 0.1);
	padding: 2%;
}

.box a{
	text-decoration: none;
	color: black;
}




h1{
	padding: 0 5% 0 5%;
	font-family: arial, sans-serif;
	font-size: 40px;
}



h3{
	padding: 0 5% 0 5%;
}


#box a{
	text-decoration: none;
	color: black;
}


















.minhaDiv0{
	width: 90%;
	background-color: #F4F4F4;
	padding: 10px 20px 10px 20px;
	text-align: left;
	float: left;
	border: 1px solid #E5E5E5;
	margin-left: 3.5%;
}

.minhaDivbutton{
	float: right;
}

.minhaDiv{
	display: none;
	width: 90%;
	background-color: #F8F8F8;
	padding: 10px 20px 10px 20px;
	text-align: left;
	float: left;
	border: 1px solid #E5E5E5;
	margin-left: 3.5%;
	height: auto;
}


#box-reserva{
	height: 50px;
}

#opcoes{
	margin-top: 5%;
	width: auto;
	height: auto;
}

#opcoes button{
	padding: 1%;
	font-family: 'Raleway', sans-serif;
}


@media screen and (max-width: 600px){

	ul li.right, ul li{
		float: none;
	}


}