/* RESET CSS http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL */

body{
	background-color:#f3f3f3;
	min-height:100vh;
	font-family: 'Roboto', sans-serif;
}




#bottom{
	position: absolute;
	width: 100%;
	max-width: 100%;
	height: auto;
	left:0px;
	top: 105%;
	display: block;
	text-align: center;
	background: linear-gradient(0deg, #acacac, #c4c4c4);

}



#topo {
background-image: url(../img/bg2.png);
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
position: absolute;
width: 100%;
height: 85%;
top:0px;
left: 0px;
animation: slide 15s infinite;

}

@keyframes slide{
	0%{
	background-image: url(../img/bg2.png);
	}
	50%{
	background-image: url(../img/bg.png);
	}
}










#corpo{
	background: linear-gradient(0deg, white, #e6e9e8);
	width: 90%;
	height: auto;
	max-height: 900px;
	position: absolute;
	left: 0px;
	top: 70%;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	
}








 p {
 	display: block;
    font-size: 18px;
    color:black;  
    text-align: center;
    padding: 10px 15% 0px 15%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


 h1 {
    font-size: 16px;
    color:black;
    text-align: center;
    padding: 5px 10% 10px 10%;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}





	


 h2 {
    text-align: center;
    padding: 5px 10% 10px 10%;
    color: brown;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
    

 h3 {
    font-size: 14px;
    color:black;
    text-align: right;
    padding: 5px 15% 10px 15%;
    font-family: 'Baloo Da 2', cursive;
    font-weight: normal;
}

 h4 {
    font-size: 14px;
    color:black;
    text-align: left;
    padding: 5px 15% 10px 15%;
    font-family: 'Baloo Da 2', cursive;
    font-weight: normal;
}








#topo2 {
background-image: url(../img/bg3.png);
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
position: absolute;
width: 100%;
height: 85%;
top:0px;
left: 0px;
}







#form-bg{
	position: absolute;
	width: 90%;
	height: auto;
	padding-left: 5%;
	padding-right: 5%;
	left: 0px;
	
}



#formulario{
	background: rgba(255, 255, 255, 0.3);
	padding: 30px 40px 30px 40px;
	border-radius: 15px;
	height: auto;
	font-size: 20px;
	text-align: left;

}




nav.navigation{
	position:relative;
	height:50px;
	background-color: none;
	z-index:2;
	width:100%;
}

ul.nav-menu, ul.nav-menu li, ul.nav-menu li a{
	float:left;
}
ul.nav-menu{
	padding-left:10px;
}
ul.nav-menu li a{
	height:50px;
	line-height:50px;
	padding:0 10px;
	color: black;
	font-weight: bold;
	text-decoration:none;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
ul.nav-menu li a:hover{
	color:#6decb9;
}
.nav-toggle{
	display:none;

	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
	background-color: none;
	cursor:pointer;
}
span.icon-bar{
	position:absolute;
	right:12px;
	display:block;
	width:26px;
	height:2px;
	background-color: black;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.icon-bar:nth-child(1){
  top:17px;
}
.icon-bar:nth-child(2){
  top:24px;
}
.icon-bar:nth-child(3){
  top:31px;
}
.nav-overlay{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:1;
	opacity:0;
	visibility:hidden;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-overlay.active{
	opacity:1;
	visibility:visible;
}

/* ICON BARS ANIMATION */

.nav-toggle.active .icon-bar:nth-child(1){
	top:24px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-toggle.active .icon-bar:nth-child(2){
	width:0;
}
.nav-toggle.active .icon-bar:nth-child(3){
	top:24px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* SITE CONTAINER */

.site-container{
	width:80%;
	margin:5%;
	padding:5%;
	background-color: #ffffff;
	font-size:16px;
	font-weight:300;
	line-height:20px;
}
.site-container p{
	margin:10px 0;
}

/* MEDIAQUERIES */
































@media screen and (max-width:767px){
	ul.nav-menu{
		position:absolute;
		top:50px;
		width:100%;
		height:0;
		padding:0;
		overflow:hidden;

	}
	ul.nav-menu.active{
		height:auto;
	}
	ul.nav-menu li{
		width:100%;
	}
	ul.nav-menu li a{
		width:50%;
		padding:10px;
		float: right;
		text-align:right;
		padding-right: 10%;
		background-color: rgb(255,255,255, 0.98);
	}
	ul.nav-menu li a:hover{
		background-color:#1c1c1c;
	}
	.nav-toggle{
		display:block;
	}




	.logo img{
	
	width: 95%;
	height: auto;
	padding-bottom: 8%;
	}





	#box1{
	text-align: center;
	padding-top: 5%;
	margin: 0 auto;
	width: 90%;

	
}



.texto1{
	font-size: 26px;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	text-align: left;

}
.texto2{
	font-size: 20px;
	font-family: arial;
	padding-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
}
.texto3{
	font-size: 16px;
	font-family: arial;
	padding-top: 5%;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	padding-bottom: 5%


}

.button{
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 18px;
	margin: 4px, 2px;
	padding: 16px 32px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: regular;

	
	
	
}

.button1{	
	background: linear-gradient(180deg, #4b0008, #87000f);
	color: white;
	border: 2px solid #87000f;
	transition: 0.4s;
	letter-spacing: 2px;
}

.button1:hover {
background: linear-gradient(180deg, #4b0008, #87000f);
border: 2px solid #87000f;
color: white;
font-weight: bolder;
letter-spacing: 4px;
}



#box2{
	background: linear-gradient(0deg, white, #e6e9e8);
	width: 100%;
	height: auto;
	position: absolute;
	top: auto;
	text-align: center;
	
}

.box2 {
display:block;
width: 100%;
height: auto;
float: left;
padding: 5% 0px 5% 0px;
text-align: center;

}



#box2 img{
	width: 32%;
	padding-top: 20px;
}


#box3{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0px;
	top: 100%;
	text-align: center;
	
}

.box3{
	display:block;
	width: 100%;
	height: auto;
	float: left;
	padding: 20px 0px 20px 0px;
	text-align: center;
	
}


.titulo{
	text-align: center;
	padding-top: 40px;
	font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: brown;
    font-size: 20px;
}


.b1{
	width: 100%;
	height: auto;
	float: right;
	padding: 20px 0 30% 0;

}

.b2{
	float: right;
	height: 100%;
	width: 30%;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;

}

#b2{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: auto;
	padding: 15% 10% 10% 0;
	z-index: 99999;

}

#b2texto{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: auto;
	height: auto;
	padding: 20% 10% 5% 0;
	font-size: 12px;
	font-family: 'Baloo Da 2', cursive;

}

#bottom img{
	display: block;
	right: 0px;
	float: right;
	text-align: center;
	width: 20%;

}
.b3{
	float: left;
	bottom: 0px;
	height: auto;
	width: 100%;
	padding: 20px 0 10px 0;
	display: none;

}


.b4{
	float: left;
	width: 1px;
	height: 110px;
	background-color: gray;
	display: none;
}

#b4{
	position: absolute;
	width: auto;
	height: auto;
	top: 50%;
	transform: translateY(-50%);
	left: 35%;
}


.titulo3{
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
    color: brown;
    font-size: 30px;
    padding-top: 15%;
}

input[type=text]{
	width: 100%;
	padding: 5px 5px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

}


select{
	width: 100%;
	padding: 5px 5px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	background-color: white;

}

textarea{
	width: 100%;
	height: 100px;
	padding: 5px 5px;
	margin: 8px 0;
		display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

}

input[name="reserva"]{
width: 100%;
  background-color: #87000f;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

input[name="contato"]{
width: 100%;
  background-color: #87000f;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

input[name="telefone"]{
	width: 100%;
 	padding: 5px 5px;
	margin: 8px 0;
	display: inline;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

input[name="chegada"]{
	width: 100%;
 	padding: 5px 5px;
	margin: 8px 0;
	display: inline;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}


input[name="partida"]{
	width: 100%;
 	padding: 5px 5px;
	margin: 8px 0;
	display: inline;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

small{
	font-family: 'Raleway', sans-serif;
	color: #87000f;
	font-weight: bolder;
	text-align: center;
	color: red;
	font-size: 10px;


}

label{
	padding-top: 10px;
	display: block;
}


input[type="date"] {
    position: relative;
    background-color: white;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
    content: "\25BC"; 
    color: #555;
    padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after {
    color: #bf1400;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }

#meio{
	position: absolute;
	left: 0px;
	top: 16%;
	width: 100%;
	text-align: center;
	
}

input[name="reserva_email"], input[name="reserva_whatsapp"]{
width: 100%;
  background-color: #87000f;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.subtitulo{
	padding-top: 20%;
}


}

























@media screen and (min-width:768px){
	ul.nav-menu{
		position:absolute;
		top:50px;
		width:100%;
		height:0;
		padding:0;
		overflow:hidden;

	}
	ul.nav-menu.active{
		height:auto;
	}
	ul.nav-menu li{
		width:100%;
	}
	ul.nav-menu li a{
		width:40%;
		padding:10px;
		float: right;
		text-align:right;
		padding-right: 10%;
		background-color: rgb(255,255,255, 0.98);
	}
	ul.nav-menu li a:hover{
		background-color:#1c1c1c;
	}
	.nav-toggle{
		display:block;
	}

	#logo{
	margin: 0 auto;
	text-align: left;
	}

	.logo img{
	
	width: 60%;
	height: auto;


	}

	#box1{
	
	text-align: center;
	padding-top: 5%;
	margin: 0 auto;
	width: 90%;

	}



.texto1{
	font-size: 30px;
	padding-bottom: 10px;
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;
	text-align: left;

}
.texto2{
	font-size: 20px;
	font-family: arial;
	padding-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
}
.texto3{
	font-size: 16px;
	font-family: arial;
	padding-top: 2%;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	padding-bottom: 3%


}

.button{
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 18px;
	margin: 4px, 2px;
	padding: 16px 32px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: regular;

	
	
	
}

.button1{	
	background: linear-gradient(180deg, #4b0008, #87000f);
	color: white;
	border: 2px solid #87000f;
	transition: 0.4s;
	letter-spacing: 2px;
}

.button1:hover {
background: linear-gradient(180deg, #4b0008, #87000f);
border: 2px solid #87000f;
color: white;
font-weight: bolder;
letter-spacing: 4px;
}


#box2{
	background: linear-gradient(0deg, white, #e6e9e8);
	width: 100%;
	height: auto;
	position: absolute;
	top: auto;
	text-align: center;
	
	
}

.box2 {
display:block;
width: 50%;
height: 300px;
float: left;
padding: 2% 0px 2% 0px;
text-align: center;

}



#box2 img{
	width: 25%;
	padding-top: 20px;
}


#box3{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0px;
	top: 100%;
	text-align: center;
	
}

.box3{
	display:block;
	width: 50%;
	height: auto;
	float: left;
	padding: 20px 0px 20px 0px;
	text-align: center;
	
}

.titulo{
	text-align: center;
	padding-top: 40px;
	font-family: 'Raleway', sans-serif;
    font-weight: regular;
    color: brown;
    font-size: 16px;
}




.b1{
	width: 50%;
	height: auto;
	float: left;
	padding: 20px 0 10px 3%;

}

.b2{
	float: right;
	height: 100%;
	width: 30%;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;

}

#b2{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 40%;
	height: auto;
	padding: 0 10% 50px 0;

}

#b2texto{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: auto;
	height: auto;
	padding: 0 10% 20px 0;
	font-size: 12px;
	font-family: 'Baloo Da 2', cursive;

}

#bottom img{
	display: block;
	right: 0px;
	float: right;
	text-align: center;
	width: 15%;

}
.b3{
	float: left;
	bottom: 0px;
	height: auto;
	width: 16%;
	padding: 20px 0 10px 0;

}


.b4{
	float: left;
	width: 1px;
	height: 110px;
	background-color: gray;
}

#b4{
	position: absolute;
	width: auto;
	height: auto;
	top: 50%;
	transform: translateY(-50%);
	left: 35%;
}

.titulo3{
	position: absolute;
	margin-top: 8%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-family: 'Raleway', sans-serif;
    color: brown;
    font-size: 30px;
}


input[type=text]{
	width: 100%;
	padding: 5px 5px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

}


select{
	width: 100%;
	padding: 5px 5px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	background-color: white;

}

textarea{
	width: 100%;
	height: 100px;
	padding: 5px 5px;
	margin: 8px 0;
		display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

}

input[name="reserva"]{
width: 100%;
  background-color: #87000f;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

input[name="contato"]{
width: 100%;
  background-color: #87000f;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

input[name="telefone"]{
	width: 100%;
 	padding: 5px 5px;
	margin: 8px 0;
	display: inline;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

input[name="chegada"]{
	width: 100%;
 	padding: 5px 5px;
	margin: 8px 0;
	display: inline;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}


input[name="partida"]{
	width: 100%;
 	padding: 5px 5px;
	margin: 8px 0;
	display: inline;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

small{
	font-family: 'Raleway', sans-serif;
	color: #87000f;
	font-weight: bolder;
	text-align: center;
	color: red;
	font-size: 10px;


}

label{
	padding-top: 10px;
	display: block;
}


input[type="date"] {
    position: relative;
    background-color: white;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
    content: "\25BC"; 
    color: #555;
    padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after {
    color: #bf1400;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }


#meio{
	position: absolute;
	left: 0px;
	top: 10%;
	width: 100%;
	text-align: center;
	
}

input[name="reserva_email"], input[name="reserva_whatsapp"]{
width: 49%;
  background-color: #87000f;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.subtitulo{
	padding-top: 10%;
	padding-bottom: 18%;
	height: auto;
	width: 100%;
}


}