
#corpo_meio{
width: 100%;
height: auto;
position: absolute;
left: 0px;
top:30%;


}

#titulo1{
    position: absolute;
    top: 16%;
    left: 5%;
    height: auto;
    width: 90%;
    text-align: center;

}
.titulo5{
	text-align: center;
	font-family: 'Raleway', sans-serif;
    color: brown;
    font-size: 20px;
    font-weight: bolder;
}


.titulo4{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: brown;
    font-size: 20px;
    padding-bottom: 3%;
}



h4{
     text-align: justify;
}

span{
   color: black;
  
   width: 100%;
   height: 200px;
   padding-bottom: 10%;

    
}

#map_geral{
    
}